<div class="container booking-user-container">
  <div class="booking-filters mb-3 d-flex justify-content-around">
    <%= link_to "Pending Reads", bookings_path(status: "pending"), class: "btn btn-outline-primary rounded-4 fw-bold py-2 px-1 #{'active' if @status == 'pending'}" %>
    <%= link_to "Current Reads", bookings_path(status: "accepted"), class: "btn btn-outline-success rounded-4 fw-bold py-2 px-1 #{'active' if @status == 'accepted'}" %>
    <%= link_to "Old Reads", bookings_path(status: "rejected"), class: "btn btn-outline-light-gray rounded-4 fw-bold py-2 px-1 #{'active' if @status == 'rejected'}" %>
  </div>
  <div class="container booking-user-container">
    <h1><%= @status.capitalize %> Reads</h1>
    <% @bookings.each do |booking| %>
      <div class="booking-card custom-rounded">
        <%= image_tag booking.book_offer.book.image_url, alt: booking.book_offer.book.title %>
        <div class="booking-card-infos">
          <div class="d-flex justify-content-between mb-0">
            <h3><%= booking.book_offer.book.title %></h3>
            <h3><i class="fa-solid fa-map-pin"></i> <%= booking.book_offer.user.address %></h3>
          </div>
          <h2 class="booking-status <%= booking.status %>"> <%= booking.status.capitalize %> </h2>
          <h3><%= booking.starting_date.strftime("%b %d, %Y")%> - <%= booking.ending_date.strftime("%b %d, %Y")%></h3>
          <h3><%= booking.book_offer.user.user_name %>'s Book </h3>
        </div>
      </div>
    <% end %>
    <%= paginate @bookings %>
  </div>
</div>
