<div class="container">
  <% @bookings_as_owner.each do |booking| %>
    <div class="booking-card">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="booking-card-infos">
        <h2><%= booking.book_offer.book.title %></h2>
        <h3>Author: <%= booking.book_offer.book.author %> </h3>
        <h3>Starting Date: <%= booking.starting_date %> </h3>
        <h3>Due Date: <%= booking.starting_date %>  </h3>
        <h3>Rented By:  <%= booking.book_offer.user.user_name %> </h3>
        <div class="text-top">
          <h2><%= booking.book_offer.user.address %> </h2>
        </div>
        <div class="form-check form-switch booking-toggle">
          <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
        </div>
      </div>
    </div>
  <% end %></div>
