<!-- app/views/pages/_home_page_cards.html.erb -->
<div class="card-book">
  <%= image_tag book.image_url, alt: book.title %>
  <div class="card-book-infos">
    <h2><%= book.title %></h2>
    <p><strong><%= book.author %></strong></p>
    <div class="card-book-meta">
      Published: <%= book.published_year %><br>
    </div>
    <%= link_to "", book_path(book),  class: "link-cover"  %>
  </div>
</div>
