<div class="container">
  <div class="card-trip">
    <%= image_tag @book.image_url, alt: @book.title %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @book.title %> by <%= @book.author %></h2>
        <p>Published: <%= @book.published_year %></p>
        <p><%= @description %></p>
        <p><%- @book.published_year %></p>
      </div>
    </div>
  </div>
  <div class="book-offer-cards">
    <% @book_offers.each do |book_offer| %>
      <div class="book-offer-card">
        <div class="book-offer-infos">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        </div>
        <div class="d-flex flex-column text-end flex-grow-1 mx-3">
          <div class="book-offer-user">
            <%# <h3>offer by <%= book_offer.user.user_name %></h3>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="book-offer-img" />
        </div>
        <div class="book-offer-button">
          <% if book_offer.availability == true %>
            <% if user_signed_in? %>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Get it</button>
              <%= render "modal", book_offer: book_offer, booking: @booking %>
            <% else %>
              <button type="button" class="btn btn-warning disabled">Sign in to get the book</button>
            <% end %>
          <% else %>
            <button type="button" class="btn btn-warning">Unavailable</button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
