<div class="container">
  <div class="card-trip">
    <%= image_tag @book.image_url, alt: @book.title %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @book.title %> by <%= @book.author %></h2>
        <p>Published: <%= @book.published_year %></p>
      </div>
    </div>
  </div>
  <div class="book-offer-cards">
    <% @book_offers.each do |book_offer| %>
      <div class="book-offer-card">
        <!-- LEFT: Book Image -->
        <div class="book-offer-infos">
          <% if book_offer.photo.attached? %>
            <%= cl_image_tag book_offer.photo.key %>
          <% else %>
            <%= image_tag book_offer.book.image_url, alt: book_offer.book.title %>
          <% end %>
        </div>
        <!-- CENTER: Book Description -->
        <div class="book-offer-description">
          <div>
            <h5><i class="fa-solid fa-map-pin"></i> <%= book_offer.user.address %></h5>
          </div>
          <%= truncate(book_offer.description, length: 300) %>
        </div>
        <!-- RIGHT: User + Button -->
        <div class="book-offer-right">
          <div class="book-offer-user">
            <% if book_offer.user.profile_photo.attached? %>
              <%= cl_image_tag book_offer.user.profile_photo.key, class:"book-offer-img" %>
            <% else %>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="book-offer-img" />
            <% end %>
          </div>
          <div class="book-offer-button">
            <% if book_offer.availability == true %>
              <% if user_signed_in? %>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Get it</button>
                <%= render "modal", book_offer: book_offer, booking: @booking %>
              <% else %>
                <button type="button" class="btn btn-warning disabled">Sign in to get the book</button>
              <% end %>
            <% else %>
              <button type="button" class="btn btn-warning">Unavailable</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
